<!DOCTYPE html>
<html>
<head>
	<title>Control HHO</title>
	{% load static %}
	<script>
    var csrftoken = '{{ csrf_token }}';
	</script>
	<script src="{% static '/js/jquery-3.3.1.min.js' %}" ></script>
 	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
  	<script src="{% static '/js/main.js' %}" ></script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark bg-dark">
		 <a class="navbar-brand" readonly href="#">HHO Chile</a>
	</nav>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col">
      <input type="text" id="keyUsuario" class="form-control" placeholder="Key Maquina"><br>
      <div id="busqueda">
      </div>
    </div>
    <div class="col">
      <input type="button"  class="btn btn-dark" value="Buscar" onclick="buscar();">
    </div>
    <div class="col">
      <span>Modelo Maquina:</span><p id="modeloMaquina">-----</p>
    </div>
  </div>
</div>
<br>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Resultados Busqueda</th>
			</tr>
  		</thead>
  		<tbody  id="mensajeSocket">
  		</tbody>
	</table>
</div>
</body>
</html>